.cabecalho{
  margin: 0;
  background-color:  #DFDFDF;
  border-radius: 10px;
  
}

.cabecalho img{
  width: 80px;
}

.cabecalho a{
  text-decoration: none;
  padding: 20px;
  color: black;
 }

.cabecalho a:hover{
  transform: 2.0;
  background-color: #2457C5;
  border-radius: 10px;
}

Body{
  background-color: rgb(243, 250, 250);
}

.paginas{
  float: right;
  margin-top: 25px;
}

main img{
  
  width: 200px;
}

footer{
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #4996CA;
  text-align: center;
  padding: 15px;
}

.conteudo-central{
display: flex;
flex-direction: row;
justify-content: center;
}

aside li{
  margin-bottom: 20px;
}

.fotos-integrantes{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  
  
}

.aluno{
  padding: 30px;
}

form {
  margin: 40px 0 40px;
  margin-left: 180px;

}

form label, form legend {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.input-padrao {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 600px;
}

.enviar{
  width: 30%;
  padding: 15px 0;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.downloads{
  text-align: center;
  margin-top: 200px;
}

.downloads img{
  padding: 50px;
}

.fotos-integrantes img{
  width: 200px;
  height: 300px;
}

.fotos-integrantes h2{
  text-align: center;
}